<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Portfolio Website</title>
</head>
<body>
    
    <div class="info">
        <h1> Hi, I'm pratiksha Gupta and below are my contact Details spotted!!!</h1><br><br><br><br>
    <div class="contact-sci">
        <h3><a href="#">Contact : 9156755789</a></h3><br>
        <h3> <a href="">Email : pratiksha243gupta@gmail.com</a></h3><br>
        
        <h3><a href="#">Address : Thane West</a></h3>
    </div>
    </div>
    
</body>
</html>