<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Website</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Pratiksha.</a>
        <nav class="navbar">
            <a href="#" class="main">Home</a>
            <a href="project.html">Projects</a>
            <a href="about.html">About Me</a>
            <a href="contact.html">Contacts</a>
        </nav>
    </header>
    <section class="home">
        <div class="home-content">
            <h1> Hi, I'm pratiksha Gupta</h1>
            <h3> Frontend Developer</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, perspiciatis voluptate alias vero quo suscipit blanditiis consequatur, mollitia dicta nihil natus quidem. Iste omnis odit autem rem ducimus facilis tempore quo perspiciatis, fuga necessitatibus culpa non explicabo deleniti similique quibusdam ea! Nesciunt quisquam rerum veniam aut voluptatum eos ex odio?</p>
            <div class="btn-box">
                <a href="#"> Hire Mee</a>
                <a href="#"> Let's Talk</a>            
            </div>
        </div>
    </section>

    <span class="img-hover"></span>

    

    
</body>
</html>