<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Portfolio Website</title>
</head>
<body>
    <div class="project">
        <h1 id="center">Projects Description</h1><br><br><br><br>
        <div class="pro1">
            <h2>Payroll Management Projects</h2><br><br>
                <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ad ea animi dolores qui voluptate unde, libero ab molestiae deleniti aut veritatis possimus aliquid dicta beatae repellendus eligendi praesentium est nihil ullam tempore nemo laudantium perspiciatis maiores? Ipsum est consectetur amet ducimus beatae saepe dolorem, molestiae rerum ipsam commodi praesentium. Excepturi laudantium amet est aliquid, ratione temporibus sunt natus unde. Eaque omnis quasi dolore molestias minima tempore, esse incidunt nisi. Minima, animi, ipsam asperiores reprehenderit eos iste optio magnam exercitationem itaque omnis quisquam quas quo adipisci! Fugiat fugit mollitia error eos ipsum, voluptatum placeat aperiam omnis rem sit iure sunt veniam numquam est deserunt repellat, consectetur asperiores perspiciatis nostrum reprehenderit voluptatibus. Blanditiis odio in nobis minima nostrum excepturi quaerat repellendus?</p><br><br><br>
            <h2> Online Voting System</h2><br><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid mollitia quod accusantium debitis. Reprehenderit qui inventore, porro fuga incidunt sint doloribus atque, tempore possimus enim exercitationem assumenda nam voluptatibus! Facere vel sunt cum aliquid ab. Veniam nesciunt quia mollitia ipsam, distinctio tempore vero totam veritatis. Eveniet blanditiis doloremque facere cupiditate, quaerat tempore quia deleniti eum porro nam. Impedit autem quo necessitatibus aliquid ullam. Odio vel, aut vitae nihil unde similique in praesentium repellat inventore! Ut quas sint laborum corporis beatae corrupti unde doloribus autem earum voluptatum qui perspiciatis libero ipsum ullam natus, consequuntur omnis possimus odio dignissimos. Maiores odio, voluptates consequatur facilis animi qui corrupti minima iure. Voluptatem voluptatum esse fugit maiores, natus, neque, ipsum quos soluta accusantium tempore asperiores!</p>
        </div><br><br>
        <div class="id" >
            <a href="#"> More Projects....!</a>            
        </div>
    </div>

    
</body>
</html>